*{
	box-sizing: border-box;
}
body{
    padding: 0px;
    margin: 0px;
    background-color: #f4f4f4;
	font-family: 'Open Sans', sans-serif;
}

ul, li {
    padding: 0;
    margin; 0;
	list-style-type: none;
}

a{
    color: #000;
    text-decoration: none;
}

a:hover
{
	color: coral;
}

#page {
    width: 1200px;
    margin-left: auto;
    margin-right:auto;
    background-color: #fff;
}




/*************** Header ***************/


header{
    height: 173px;
    padding: 39px 39px 0 30px;
}

header ul li, header form{
    display: inline;
}

header div.logo {
    float: left;
    width: 232px;
}

header nav
{
    width: 500px;
    float: right;
}

header ul{
    list-style-type: none;
}

header section.administration {
    margin-bottom:40px;
	font-size: .9em;
}

header section.administration li
{
    margin-right: 20px;
}

header section.departments{
	font-size: 1.2em;
	margin-left: -90px;
}

header section.departments li{
	margin-right: 25px;
}

.departments li a:hover{
	text-decoration: none;
}

/************** End Header ************/


/************** Main Section **********/

article.main section.promo-rotator{
	height: 500px;
}

img {
	margin: 0;
	padding: 0;
}

section.new-arrivals {
	text-align: center;
	background-color: #f1f1f1;
	padding: 10px 0px;
}

section.new-arrivals li{
	margin: 0px 33px
}

section.new-arrivals ul li
{
	display: inline-block;
}

section.new-arrivals div.description {
	text-align: left;
}

.name, .price
{
	font-size: .9em;
}

div.category a{
	text-transform:uppercase;
	color: #989898;
	font-family: sans-serif;
	font-size: .8em;
}

div.category a:hover{
	color: coral;
}

.new-arrival {
	background-color: #fff;
	padding: 0;
}

.new-arrival .name{
	float: left;
}
.new-arrival .price{
	float: right;
}

.new-arrival .category{
	clear: both;
	padding-top: 5px;
}


section.sales > ul > li
{
	display: inline-block;
	margin-right: 35px;
}

.sales h3{
	font-size: 1.5em;
	padding-bottom: 1px;
	border-bottom: 2px solid #000;
}

.sales .sections
{
	text-align: center;
}

.sales .sections > li {
	text-align: left;
}

.sales .item img{
	float: left;
	padding-right: 20px;
	margin-bottom: 30px;
}

.sales .item .details
{

}

.see-more
{
	display: block;
	border: 2px solid pink;
	padding: 10px;
	margin-top: 10px;
	color: pink;
	font-family: sans-serif;
}

.see-more:after
{
	padding-left: 120px;
	color: pink;
	content: ">";
}

/************** End Main ***********/


/************** Footer *************/

footer {
	border-top: 1px solid #000;
}

footer img.footer-logo{
	float: left;
	margin: 3em;
}

footer div.footer-links{
	float: right;
}

footer ul
{
	display: inline-block;
	margin-right: 8em;
}

footer ul li{
	padding-bottom: 5px;
	font-size: .78em;
}

footer .copyright{
	margin: 0 40px;
	border-top: 1px solid lightgrey;
	padding: 10px 0;
	font-size: .7em;
	color: lightgrey;
	font-family: sans-serif;
	clear: both;
}

/*************** End Footer **********/


/*************** Utiilty Classes ***********/

.no-decoration:hover
{
	text-decoration: none;
}

.offscreen
{
	position: absolute;
	left: -100000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}

.offscreen:focus
{
	position: static;
	width: auto;
	height: auto;
}
